<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Surname</th>
        <th>E-mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user: ${users}">
        <td th:text="${user.getId()}"></td>
        <td th:text="${user.getName()}"></td>
        <td th:text="${user.getLastName()}"></td>
        <td th:text="${user.getEmail()}"></td>
        <td><a type="button" th:href="@{users/updateForm/{id}(id=${user.getId()})}">Update</a></td>
        <td><a type="button" th:href="@{users/delete-user/{id}(id=${user.getId()})}">Delete</a></td>
    </tr>
    </tbody>
</table>

<br>

<input type="button" value="Add" onClick='location.href="users/add"'>

</body>
</html>