<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form th:method="PATCH" th:action="@{/users}" th:object="${user}">
    <input type="hidden" th:field="*{id}"/>
    <label for="name">Enter name</label>
    <input type="text" th:field="*{name}" id="name">
    <label for="lastName">Enter surname</label>
    <input type="text" th:field="*{lastName}" id="lastName">
    <label for="email">Enter e-mail</label>
    <input type="text" th:field="*{email}" id="email">

    <input type="submit" value="Update">
</form>
</body>
</html>